
/* Styling for the login page */
.login-container {
    width: 980px;
    height: calc(100vh - 50px);
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    overflow: none;
}

.logo {
    margin-right: 30px;
    padding: 80px 0 0 0;
}
.logo h1 {
    color: #1877f2;
    margin-bottom: 0px;
}

.logo p {
    font-size: 2.2rem;
    margin-top: 0;
}

.login-wrapper {
    width: 400px;
    height: 400px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.login-wrapper hr{
    border: .2px solid #dddfe2;
    margin: 20px auto 10px auto;
}

/* Styling for the login form */
form label {
    position: absolute;
    left: -30000px;
    opacity: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    color: #1d2129;
    font-size: 1.3rem;
    border: 1px solid #dddfe2;
    margin: 10px 0 10px 0;
    padding: 14px 16px;
    border-radius: 6px;
}


.button-style {
    background-color: #1877f2;
    border: #365899;
    border-radius: 6px;
    color: white;
    line-height: 48px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

/* Styling for the buttons under the login form */
.login-button-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.login-button-wrapper .button-style {
    font-size: 1.3rem;
    width: 100%;
}

.login-button-wrapper .button-style:nth-child(even) {
    background-color: #36a420;
    border-color: #36a420;
}

.green-style {
    background-color: #36a420;
    border-color: #36a420;
}

.error {
    color: red;
}

.success {
    color: green;
    padding-left: 5px;
}

.new-reply {
    width: 80%;
    margin-left: 100px;
}

[type='file'] {
    color: white;
    border: none;
}

.new-img-form {
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .login-container {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        width: 100vw;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .login-wrapper {
        width: 350px;
        /* height: 350px; */
    }


    .button-style {
        line-height: 2.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 10px;
    }

    .login-button-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    
    .login-button-wrapper .button-style {
        width: 100%;
        padding: 2px 10px;
    }


}
@media (max-width: 560px) {

    .new-reply {
        margin-left: 60px;
    }
    .logo h1 {
        color: #1877f2;
        font-size: 2.5rem;
    }
    
    .logo p {
        font-size: 1.4rem;
    }

    .login-wrapper {
        width: 200px;
        height: 320px;
    }

    form input {
        font-size: 1rem;
        margin: 5px 0 5px 0;
        padding: 10px;
    }
    
    .button-style {
        line-height: 1.8rem;
        font-size: 1rem;
    }

    
    .login-button-wrapper .button-style {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    #login-signup-button {
        padding: 3px 0;
    }

}