.home-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 10px;
}

.user-img {
    border: solid 2px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

/* Styling for the new post */
.new-post {
    height: 90px;
    display: flex;
    align-items: center;
}

.new-post :nth-child(2) {
    background-color: #3a3b3c;
    color: rgb(158, 151, 151);
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 40px;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 10px;
}

.new-post :nth-child(2):hover {
    background-color: #5c5d5e;
}

.post-header {
    width: 100%;
    padding-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
}

/* Styling for the newsfeed */

.news-feed hr {
    width: 100%;
}


.news-feed h3 {
    font-size: 2rem;
    text-align: center;
}

.news-post {
    background-color: #242526;
    border-radius: 10px;
    padding: 0 20px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.news-header {
    padding-top: 5px;
    display: flex;
    align-items: center;
    height: 50px;
}

.news-header a {
    font-size: 1.6rem;
}

.news-header div {
    color: white;
}

.news-content {
    padding-top: 15px;
    color: white;
}

.news-content > p {
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.news-content div {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.news-button-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.news-button-wrapper button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 1.4rem;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
}

#liked {
    color: #1877f2;
}

.news-button-wrapper button:hover{
    background-color: #5c5d5e;
}



/* Styling for comments */
.new-comment-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new-comment-form input {
    background-color: #3a3b3c;
    color: white;
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 16px;
    font-size: 1.5rem;
    text-align: left;
    padding: 20px 10px;
}

.comment-container {
    padding: 10px 0;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-content-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #3a3b3c;
    border-radius: 10px;
    width: 100%;
    min-height: 60px;
    padding: 10px;
    margin-right: 50px;
    position: relative;
}

.comment-content-wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.comment-content-wrapper > div > div {
    display: flex;
}
.comment-content-wrapper > div > div > p {
    margin-left: 20px;
}
.comment-content-wrapper p {
    font-size: 1.2rem;
}

.dropdown-button {
    width: 30px;
    color: white;
    font-size: 2rem;
    line-height: 1rem;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 10px;
    align-self: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    cursor: pointer;
}

.comment-meta {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment-button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.comment-meta div {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.comment-chain {
    border-right: solid 2px rgb(53, 50, 50);
}

.reply1{
    margin-left: 30px;
}

.reply2 {
    margin-left: 60px;
}

.reply3 {
    margin-left: 90px;
}

.liked-comment {
    color: #1877f2;
}

/* Styling for the comment dropdown menu */
.comment-menu {
    /* border: solid; */
    position: absolute;
    top: 15px;
    right: -60px;
    height: 70px;
    width: 80px;
    border-radius: 10px;
    background-color: #3a3b3c;
    border: #b0b3b8 solid 2px;
}

.comment-menu ul {
    list-style: none;
}

.comment-menu button {
    border: none;
    background-color: #3a3b3c;
    color: rgb(158, 151, 151);
    padding: 3px;
    font-size: 1.3rem;
    text-align: left;
    height: 100%;
    width: 100%;
}

.comment-menu button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/* Styling for the friends/friend request sidebar */
.contact-sidebar h2{
    font-size: 2rem;
}

.contact-sidebar > div {
    padding-top: 2.5rem;
}


.friends-style {
    display: flex;
    align-items: center;
}

.friends-style a {
    color: #b0b3b8;
    font-weight: 400;
}

#home-friend-requests div {
    display: flex;
    align-items: center;
}

.see-all {
    color: #1877f2;
    padding-left: 20px;
}



/* Styling for the friend page */
/* --------------------------------------------------------------------- */
.friends-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 50px);
}

.friends-page-sidebar {
    background-color: #242526;
    border-top: 1px solid rgba(255, 255, 255, 0.466);
    padding-top: 120px;
}

.sidebar-button {
    border: none;
    background-color: #242526;
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: right;
    margin: 10px 10px 0 0;
    padding-right: 10px;
    cursor: pointer;
}

.friends-page-main h2{
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}

.friends-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
}

.friends-container h3 {
    font-size: 2rem;
}

.friend-container {
    background-color: #242526;
    height: 200px;
    width: 250px;
    margin: 15px;
    border-radius: 6px;
    padding: 10px;
}


/* Add a shadow */
.friend-container h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.friend-container div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.friend-container-button {
    background-color: #1877f2;
    border: #365899;
    border-radius: 6px;
    color: white;
    height: 40px;
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
}

.friend-container a {
    padding-top: 15px;
}

#pending-friend-container {
    flex-wrap: wrap;
    height: 150px;
    justify-content: space-evenly;
    align-content: center;
}

#pending-friend-container a {
    width: 200px;
    margin: 10px;
    height: 40px;
}

.friend-req-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.friend-req-wrapper h3 {
    font-size: 2rem;
}

.request-wrapper{
    display: flex;
    flex-wrap: wrap;
}

/* Styling for the Profile Page */
/* ------------------------------------------------------------ */

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header-wrapper {
    background: linear-gradient(#000, #242526);
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.top-profile-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-banner {
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header .see-all {
    margin-top: 10px;
}

.profile-header p {
    font-size: 1.5rem;
}

.profile-header button {
    margin-top: 20px;
}


.profile-header-wrapper hr {
    width: 80%;
}

.profile-buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.feed-buttons {
    border: none;
    background-color: rgba(0,0,0,0);
    color: #b0b3b8;
    font-size: 1.7rem;
}

.feed-buttons:hover {
    background-color: rgba(69, 70, 72, 0.9);
    border-radius: 5px;
}

.profile-content-wrapper {
    width: 50%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content-wrapper > div {
    width: 100%;
}

.profile-content-wrapper > div h2{
    text-align: center;
}

.active{
    color: #1877f2;
}

.profile-friend {
    padding: 10px;
    width: 60%;
    margin: 0 auto;
}

.profile-friend a {
    font-size: 2rem;
}

#profile-img-wrapper {
    position: relative;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
}

#profile-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 50px;
}

#cover-img-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 20px;
    border: none;
    background-color: #1877f2;
    font-weight: 600;
    font-size: 1.5rem;
}

#cover-img-button:hover {
    background-color: #679fe9;
}

.cover-img img{

    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}