* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif
}

body {
    background-color: #18191a;
    color: #b0b3b8;
    padding: 0;
    margin: 0;
}

img {
    height: 500px;
    width: 500px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Styling for the nav */

nav {
    background-color: #242526;
    display: flex;
    height: 50px;
    justify-content: space-between;
}


#find-friend {
    background-color: #3a3b3c;
    color: rgb(158, 151, 151);
    border-radius: 20px;
    min-width: 200px;
    width: 240px;
    border: none;
    height: 30px;
    font-size: 1.3rem;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
}

nav > div {
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: flex-end;
    
}

#nav-title {
    font-size: 3.5rem;
    color: #b0b3b8;
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    padding-right: 40px;
    align-self: baseline ;
    
}

.nav-element {
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 2rem;
    color: #b0b3b8;
}

.nav-element:hover {
    color: #1877f2;
}

.dropdown-anchor {
    position: relative;
    display: inline-block;
}

.search-results {
    background-color: #242526;
    position: absolute;
    min-width: 240px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.search-results li {
    list-style: none;
    padding: 5px 0;
    padding-left: 10px;
}

.search-results li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.search-results a {
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
}

footer {
    height: 40px;
    display: flex;
    justify-content: center;
}